html,body,div,h1,h2,h3,h4,p,img,ul,li,article,header {
font:inherit;
font-family: Arial, Helvetica, sans-serif;
margin: 0px auto;
}
  * {
    padding:0;
    margin:0;
  }

  html{
    background:#d1d7E0;
  }
  /*navigation are for the menu items   */
  .navigation{
  background-color: rgba(255,255,255,0.1);
  }
  nav{
    height: 40px;
    width: 100%;
    display: block;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.1);
  }
  nav a{
    display: block;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  nav a:hover {
    background-color: black;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    float:left;
    width:188px;
    height:40px;
    line-height:40px;
    background:#1d1e22;
  }
  nav ul ul li{
    position:relative;
    display:none;
  }
  nav ul li:hover ul li{
    display: block;
  }
  nav ul li ul{
    float: left;
  }

/*********************************************/


/* Header section where group logo & links are located  */
header {
    text-align: center;
    background: #1d1e22;
    background-size: cover;
    max-width: 940px;
    margin: 0px auto;
  }

  body{
    font-size: 16px;
    color: white;
    text-align: justified;
    position: relative;
    margin: 0;
  }

  article {
    margin-top: 0px;
    border-top: 1px solid rgba(255,255,255,0.2);
    max-width:900px;
    padding: 20px;
    margin: 0 auto;
    background: #222629;
  }

  p {
    color: #CCCCCC;
    font-size: 16px;
    line-height:  24px;

  }

  p.refs {
    font-size: 14px;
    color: #C5C6C7;
    font-style: italic;
    }

    p.underline {
      text-decoration: underline;
      }

/*--------------------- CLASS STYLES--------------------------*/

  .reference {
    color: #C5C6C7;
    font-style: italic;
  }

  /* active page link colour to be changed   */
  .active {
    color: #3FEEE6;
  }
  /* inactive page link colour to be changed   */
  .address {
    color: white;
  }
  /*Heading 1 Style */
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 1px;
    color: #4390BC;
  }
    /*Heading 2 Style */

  h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 1px;
    color:#45A29E;
  }
  /*Heading 3 Style */
  h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #97CAEF;
    font-weight: 300;
  }
  /*Heading 4 Style */
  h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    color:white;
  }

  /*inserted image details */
  img {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  /* Main Level */
  .text ul{
    margin-left:30px;
    font-size: 16px;
    line-height:  24px;
    color: #CCCCCC;
  }
  .text li{
    margin-left:30px;
    font-size: 16px;
    line-height:  24px;
    color: #CCCCCC;
  }

  /* Second Level */
  .text ul ul{
    margin-left:40px;
    font-size: 16px;
    line-height:  24px;
    color: #CCCCCC;
  }

  /* Third Level */
  .text ul ul ul{
    margin-left:50px;
    font-size: 16px;
    line-height:  24px;
    color: #CCCCCC;
  }


/*-----------------------------------FOOTER----------------------------------*/
  /*footer style code*/
  footer{
    padding: 10px;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    max-width:920px;
    margin: 0px auto;
    bottom:0px;
  }

/* ------------------------------------CARD CLASSES-----------------------------------*/

  .column {
  float: left;
  width: 49%;
  margin-bottom: 5px;
  padding: 0 4px;
  }
  .column2 {
  float: left;
  width: 99%;
  margin-bottom: 5px;
  padding: 0 4px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 4px;
  }
  .row{
  height: auto;
  }
  .container {
  padding: 0 16px;

  }

  .container2 {
    padding: 0 16px;
    height: 500px;
  }
  .itWork{
    text-align: left;
  }

  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }

  .title {
  color: #CAFAFE;
  }
  /*----------------------BUTTON DESIGN ---------------------  */
  .button {
  border: none;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  margin-bottom: 4px;
  }
  .button:hover {
    background-color: #66FCF1;
  }

.icon2 {
  max-height: 30px;
  max-width: 54px;
  display: inline-block;
}
/*--------------------TABLE DESIGN----------------------------*/
/* Table will be placed to fit the width*/
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

/* Style table headers and table data */
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #29648A;
  color: white;
}
 td {
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  font-size: 15px;
  color: #DFDCE3;
}

  td, th {
  border: 1px solid #ddd;
  padding: 8px;
  }
  /* to change the colour of every other page */
  tr:nth-child(even){
    background-color: #393939;
  }
  tr:hover {background-color: black;}

/* Following styles will kick in on mobile devices*/
  @media (max-width: 500px) {
    li {
      padding: 5px;
      display: block;
      color: #66FCF1;
    }

    img {
      max-width: 100%;
      height : auto;
    }

    .column {
    float: left;
    width: 99%;
    margin-bottom: 5px;
    padding: 0 4px;
    }
    nav{
    display: block;
    }
}
